/baseimage/files/
/services/namenode/
/services/secondarynamenode/
/services/resourcemanager/
/services/worker1/
/services/worker2/
/services/worker3/
/services/historyserver/
/services/metastore/
/services/hiveserver2/
yarn/
.DS_Store
baseimage/.DS_Store
Makefile
